* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
  }
  .main-color{
    color: #c95195
  }
  .second-color{
    color: #64266c
  }
  .main-color-2{
    background-color: #c95195!important
  }
.home{
    background-image:  url(../images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}
a{
  color: #c95195;
  font-family: 'Lateef', cursive;

}
p{
  font-family: 'Reem Kufi', sans-serif;

}
a:hover {
  text-decoration: none;
}

h5{
 font-family: 'El Messiri', sans-serif; 
}
::-webkit-scrollbar{
  background-color: #ccc;
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: #c95195;
  border: .5px solid #333;
  border-radius: 10px;    ;
  -webkit-border-radius: 10px    ;
  -moz-border-radius: 10px    ;
  -ms-border-radius: 10px    ;
  -o-border-radius: 10px    ;
}
/* my framework  */
.overlay2{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(51, 51, 51, )
}
 .logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 2px 2px 3px #fff,
    -2px -2px 3px #fff;
    margin-right: 30px;
}
.profile{
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   width: 40px;
   height: 40px;;
}
.logo:hover{
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
}
.nav-search{
  position: relative;
}
.nav-search input{
  width: 300px;
  border-radius: 28px;
  padding-right: 30px!important;
}
.nav-search input::placeholder{
  padding-right: 20px!important
}
.nav-search input:focus{
  box-shadow: 1px 1px 8px 5px #64266c , 1px 1px 8px 5px #64266c;
}
.nav-search i{
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #64266c;
  z-index: 5px;
}
.big-nav {
    height: 80px;
    display: flex;
    align-items: center;  
    background-color: rgba(255,255,255,.1); 
    z-index: 99999999;
  }
  .big-nav-fixed{
    position: fixed;
    top: 0;
    right:0;
    left: 0;
    background-image: linear-gradient(to left,#64266c,#c95195,#64266c) ;
    box-shadow: 1px 5px 5px #64266c;
  }
  .big-nav-fixed:hover{
    background-position: right!important;
  }
  .big-nav li a:hover , .notfication-dropdown i:hover , .producrt-dropdown a:hover{
    color: #64266c !important;
    font-weight: bold;
  }
  
  .big-nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 40%;
    margin-right: auto ;
  }
  .nav-logo{
    width: 20%;
    list-style: none;
    align-items: center;  
    margin-left: auto ;
  }
   
  .big-nav-links li a  , .nav-logo li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    position: relative;
  }
  .big-nav-links li a i{
    font-size: 14px; 
  }
  .producrt-dropdown a , .notfication-dropdown a{
   color: #fff!important;
   cursor: pointer;
   position: relative;
  }
  #notfi{
    position: absolute;
    color: #fff;
    top: -4px;
    background-color:#64266c;
    padding: 1px 5px;
    border-radius: 50%;
  }
  .producrt-dropdown a::after, .notfication-dropdown a::after{
    display: none;
  }
  .producrt-dropdown .dropdown-menu , .notfication-dropdown .dropdown-menu{
    background-color: #64266c;
  }
  .producrt-dropdown .dropdown-menu a:hover, .notfication-dropdown .dropdown-menu a:hover{
    background-color: #c95195;
  }
  .notfication-dropdown i {
    font-size: 22px
  }
  .notfication-dropdown .dropdown-menu{
    max-width: 300px;
    max-height: 400px;
    overflow-y: auto;
  }
  .cart-header {
      color: #fff;
      position: relative;
  }

  #cart-notfi{
    position: absolute;
    color: #fff;
    top: -4px;
    background-color:#64266c;
    padding: 1px 5px;
    border-radius: 50%;
    top: -17px;
    right: -14px; 
  }

    
  /* end naaaaaaaaaaaaav baaaaaaaaaaaaaaar  */
  /* start cart popup */
  .cart-popup{
    background-color: #64266c;
    width: 200px;
    max-height: 400px;
    padding: 5px 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: -2px -2px 3px #fff;
    position: absolute;
    z-index: 999;
    top: 82px;
    left: 13px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform-origin: right bottom;
}
.cart-popup .fa-times-circle:hover{
  font-size: 20px;
  color: #c95195
}
.show-cart   {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
  .cart-item img{
    border-radius: 50%  ;
    -webkit-border-radius: 50%  ;
    -moz-border-radius: 50%  ;
    -ms-border-radius: 50%  ;
    -o-border-radius: 50%  ;
    width: 40px;
    height: 40px;
}
.cart-item i{
  color: #c95195;
  padding-top: 10px;
}
.cart-item:hover i{
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.cart-item:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.cart-buttons-container a{
 color: #fff;
 border: 1px solid #fff;
}
.cart-buttons-container a:hover{
  background-color: #fff;
  color: #64266c;
  box-shadow: 2px 2px 3px #fff
}


/* start products */
/* .heading{
  background: linear-gradient(45deg,#64266c,#c95195);
  width: 20%;
} */

.heading h2{
    color: #64266c;
    font-size: 50px ; 
    font-weight: bold;
    position: relative;
    z-index: 11;
    opacity: 1;
}
/* .heading h2::after{
  left: 43%;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 14%;
  height: 96px;
  background-color: #64266c;
  opacity: .8;
  border-radius: 0 0 50% 50%;
} */
.heading :nth-child(2) , .heading :nth-child(4){
  width: 6%;
  margin: 2px auto;
  border: 1px solid #64266c;
}
.heading:hover  :nth-child(2), .heading:hover  :nth-child(4){
  width: 8%;
}
.heading:hover :nth-child(3){
  width: 10%;
}
.heading :nth-child(3){
  width: 8%;
  margin: auto;
  border: 1px solid #64266c;
}
.about-content span{
  font-weight: bold;
  font-size: 22px;
  font-style: italic;
}
.counter span{
  font-size: 45px;
  font-style: normal
}
.counter p{
  font-size: 20px;
}
.about-img img{
  width: 100%;
 }

 /* end about section */

 /* start product section */

 /* #products{
  background-color: #c95195;
 } */
 #products h2 {
   color: #64266c;
 }
 #products .heading hr{
   border-color: #64266c;
 }


 /* end product section */

 /* start articles section */
 #article .all-card{
   background-color: #c95195;
   color: #fff;
 }
 .all-card p i{
   background-color: #64266c;
   padding: 6px;
   border-radius:50% ;
   -webkit-border-radius:50% ;
   -moz-border-radius:50% ;
   -ms-border-radius:50% ;
   -o-border-radius:50% ;
}
.all-card p i:hover{
  background-color: #fff;
  color: #64266c;
}
.card-content a{
  font-size: 24px;
  font-weight: bold;
  padding-right: 5px;
}
.card-content a:hover{
  font-style: italic;
  color: #fff;
}
.card-content h5{
  font-size: 30px;
}
.all-card{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 100%;
  overflow: hidden;
  box-shadow: 2px 2px 3px #ccc,
  -2px -2px 3px #ccc;
}

.all-card:hover{
  box-shadow: 2px 2px 15px 9px #64266c, 
  -2px -2px 15px 9px #64266c;
}
.all-card:hover img{
  opacity: .6;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.all-card img{
  width: 100%;
  height: 240px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}
.view{
  opacity: .7;
  font-size: 14px;
}
.article-btn {
  background-color: #64266c;
  width: 200px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: none;
  border: .5px solid #64266c;
}
.article-btn a{
  color: #fff;
  font-size: 20px;
}
.article-btn:hover{
  box-shadow: 2px 2px 3px 3px #64266c,
  -2px -2px 3px 3px #64266c;
  border: .5px solid #fff;
}
/* end article section */

/* stat footer */
.contact-container{
  background-color: #c95195;
}
.last-section{
  background-color: #752452
}
.footer-about p{
  color: #fff;
  font-style: italic;
  font-size: 18px;
}
.footer-about h5 , .footer-contact h5 , .footer-form h5{
  color: #64266c;
  font-size: 35px;
  font-weight: bold;
}
.footer-contact p{
  color: #fff;
}
.footer-contact a{
  color: #64266c;
  font-weight: bold;
  font-size: 20px;
}
.footer-contact i{
  color: #fff;
  background-color: #64266c;
  padding: 6px 6px;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}
.footer-contact i:hover{
 transform: rotate(50deg);
 -webkit-transform: rotate(50deg);
 -moz-transform: rotate(50deg);
 -ms-transform: rotate(50deg);
 -o-transform: rotate(50deg);
}
.footer-form .btn{
  color: #fff;
  background-color: #64266c;
}
.footer-form .btn:hover{
  color: #64266c;
  background-color: #fff;
}
.footer-form .btn:focus , .footer-form input:focus , .footer-form textarea:focus{
  outline: none;
  box-shadow: 2px 2px 3px 3px #64266c
}
.last-section .social i{
 color: #64266c;
 background-color: #fff;
 padding: 6px;
 font-size: 22px;
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
}
.last-section .social i:hover{
  color: #c95195;
  transform: skew(20deg);
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg);
}
.last-section .copyright p{
  color: #fff;
}
.last-section .copyright a{
  color: #c95195;
  font-size: 20px;
  font-weight: bold;
}
.last-section .copyright a:hover{
  color: #fff;
}

/* start scroll top */
.sccroll-top i
{
	position: fixed;
	bottom: 20px;
	right: 25px;
	background-color:#64266c;
	display: block;
	padding: 10px;
	font-size: 22px;
	cursor: pointer;
	color: #fff;
	display: none;
	z-index: 999999;
	border-radius:50% ;
	-webkit-border-radius:50% ;
	-moz-border-radius:50% ;
	-ms-border-radius:50% ;
	-o-border-radius:50% ;
}
.sccroll-top i:hover
{
	color: #64266c;
	background-color: #fff
}

/* end fooooooter */

/* fixed cart menu */
.fixedcart{
  position: fixed;
  top: 100px;
  right: -255px;
  background-color:#64266c;
  box-shadow: 2px 2px 3px 3px #64266c,
  -2px -2px 3px 3px #64266c;
  width: 250px;
  max-height: 500px;
  z-index: 9999;
  padding: 5px 15px;
  color: #fff;
}

#poup-cart-icon {
  position: absolute;
  background-color: #64266c;
  padding: 8px;
  box-shadow: 2px 2px 3px 3px #64266c, -2px -2px 3px 3px #64266c;
  top: 11px;
  left: -49px;
  width: 50px;
  height: 50px;
  position: absolute;
}
#poup-cart-icon i{
  color: #fff;
  font-size: 30px;
  padding: 2px 5px;
  cursor: pointer;
   animation: mymove 1s linear infinite;
  -webkit-animation: myscale 1s linear infinite; 
}



/* end fixed cart menu */

/* fixed-contact-form */
/* .fixed-contact-form{
  position: fixed;
  bottom: 140px;
  right: 50px;
  width: 300px;
  height: 300px;
  background-color: #64266c;
  z-index: 9999;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 2px 2px 2px #fff, -2px -2px 2px 2px #fff;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform-origin: right bottom;
}
.show-form{
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.fixed-contact-form button{
 background-color: #fff!important;
 color: #c95195 !important;
}
.contact-fixed-icon{
  position: fixed;
  bottom: 60px;
  right: 160px;
  width: 60px;
  height: 60px;
  background-color: #64266c;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  box-shadow: 2px 2px 16px 13px #fff, -2px -2px 14px 5px #fff;
}
.contact-fixed-icon i{
  color: #fff;
  font-size: 30px;
  padding: 15px;
  animation: myscale 1s linear infinite;
  -webkit-animation: myscale 1s linear infinite;
} */

@keyframes myscale
{
0%,100% {
     transform:scale(.9);
     -webkit-transform:scale(.9);
     -moz-transform:scale(.9);
     -ms-transform:scale(.9);
     -o-transform:scale(.9);
}

25% {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

75% {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
}

/* logon popup */
.popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color:rgba(51, 51, 51, .6);
  z-index: 999999999;
  display: none;
}
.login-popup{
  position: fixed;
  width: 500px;
  height:200px;
  right: 50%;
  top: 50%;
  margin-top:-100px;
  margin-right:-250px;
  background:linear-gradient(45deg,#64266c,#c95195);
  border: 1px solid #fff;
  border-radius:10px;
  padding: 10px;
}
.login-popup .btn {
  width: 50%;
  margin-right:25%;
  background-color: #fff;
  color: #c95195;
  border: 1px solid #22e5dc;
}
.login-popup .btn:hover {
  background-color: #64266c;
  color: #fff;
  border: 1px solid #22e5dc;
}
.login-popup input {
  background-color: #fff;
}
.login-popup input:focus{
  background:none;
  box-shadow: none;
  outline: none;
  border: none;
  color: #fff;
  border-bottom: 1px solid #22e5dc;
}
.login-popup input:focus::placeholder{
  color: #fff;
}
.pass-container{
  position: relative;
}
.pass-container i{
  position: absolute;
  top: 10px;
  left: 10px;
  color: #64266c;
  cursor: pointer;
}
/* sign uppoup */
/* end poups */
/* staaaaaaaaaaaart articl paaaaaaaaaaaaaaaaaaaagee */
.right-side{
  background: linear-gradient(90deg, #64266c ,#c95195);
  color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /* min-height: 500px; */
}
.right-side-header .hideUl{
  display: none;
}
.right-side input:focus{
  outline: none;
  box-shadow: 2px 2px 2px 1px #64266c 
}
.right-side-header .d-flex{
  color: #64266c;
  cursor: pointer;
  background-color: #fff;
  padding: 2px 8px;
  border-radius: 5px;
}
.right-side-header .d-flex:hover{
  transform: skew(20deg);
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg);
}
.right-side-header h5{
  font-size: 24px;
}
.right-side-header h5 i{
  font-size: 25px;
  margin-left: 10px;
}
.right-side-header a{
  font-size: 20px;
  color: #fff;
  font-style: italic;
}
.right-side-header a:hover{
  font-weight: bold;
}

.article-content img{
  width: 100%;
  height: 300px;
}
.articl-fullpage a:hover{
  color: #c95195;
}
.articl-fullpage i{
  color: #fff;
  background-color: #64266c;
  padding: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.articl-fullpage i:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.article-share .social-btn-list i , .article-like i{
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}
.article-share .social-btn-list i:hover , .article-like i:hover{
  box-shadow: 1px 1px 4px 2px #c95195;
}
.article-like span{
  color: #64266c;
  font-size: 18px;
  text-shadow: 1px 1px 4px  #c95195;
}
/* end article paaaaaaaaaaaaarg */

/* start sign up page   */
.sign-up{
  background-image: url(../images/mama-2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

.form-sign-up{
  width: 60%;
  box-shadow: 2px 2px 3px 3px rgba(201, 81, 149,.7), -2px -2px 3px 3px rgba(201, 81, 149,.7);
  background-color: rgba(201, 81, 149,.7);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.form-sign-up .form-control{
  color: #fff;
}
.form-sign-up input::placeholder , .form-sign-up textarea::placeholder{
  color: #fff;
 }
.form-sign-up input , .form-sign-up textarea{
 background-color: rgba(201, 81, 149,.1);
 border: none;
 border: 1px solid #fff;
}
.form-sign-up input:focus , .form-sign-up textarea:focus{
 background-color: rgba(201, 81, 149,.1);;
 outline: none;
 box-shadow: none;
 border: none;
 border-bottom: 1px solid #fff;
 border-right: 1px solid #fff;

 color: #fff;
}
 .form-sign-up button{
   background: linear-gradient(45deg, #64266c ,#c95195);
   width: 200px;
   height: 50px;
   color: #fff;
   font-size: 25px;
   padding: 5px;
   border-radius: 5px ;
   -webkit-border-radius: 5px ;
   -moz-border-radius: 5px ;
   -ms-border-radius: 5px ;
   -o-border-radius: 5px ;
   border: .5px solid #fff;
}
.form-sign-up button:hover{
  box-shadow: 2px 2px 3px 3px #fff, -2px -2px 3px 3px #fff;
}
.work .work-label , .work2 .work-label{
  font-size: 24px;
}
.form-check label{
  margin-right: 10px;
}
.work input, .work2 input{
  background-color: #64266c;
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  position: relative;
}

input[type=radio]:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: "✔";
  display: inline-block;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  background-color: #fff;
  color: #64266c;
}
/* end  sign up page */
/* staaaaaaaaart profile paaaaaaage */
.profile-right{
  background-image: linear-gradient(45deg , #64266c ,#c95195)
}
.profile-right img{
  width: 100%;
  height: 250px;
}
.profile-basic-content p{
  color: #fff;
  font-size: 25px;
}
.left-sie-content{
  padding-top: 80px;
}
.profile-left-side{
  position: relative;
  background-image: linear-gradient(45deg , #64266c ,#c95195)
}
.profile-left-side p{
  color: #fff;
  font-size: 25px;
}
.profile-left-side img{
  position: absolute;
  position: absolute;
  top: -50px;
  right: 24px;
  right: 10px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* end profile paaaaaaage */

/* start preview pag */
.preview-images{
  /* background-color: #22e5dc; */
  box-shadow: 1px 2px 3px 3px #c95195, -1px -2px 3px 3px #c95195;
  /* background: linear-gradient(to left, #eee, #c95195 ,#eee )  */
}
.preview-images{
  border: 1px solid #64266c;
}
.preview-images .big-img{
  width: 100%;
  height: 300px;
}
.previe-small-img{
  border: 1px solid #64266c;
}
.previe-small-img img{
  height: 80px;
  width: 32.3333%;
  border-right: 4px solid #64266c;
  cursor: pointer;
}
.preview-content h5{
  color: #fff;
  background: linear-gradient(45deg,#64266c,#c95195 ) ;
  width: 30%;
  font-size: 33px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
.preview-content p{
  font-size: 18px;
  font-style: italic;
}
prevew-content-quantity{
  font-size: 18px;
}
.prevew-content-quantity button{
  color: #fff;
  background-color: #64266c;
  height: 37px;
}
.prevew-content-quantity input{
  color: #fff;
  background: linear-gradient(90deg,#64266c,#c95195 );
  height: 37px;
  min-width: 30px;
  max-width: 40px;
}
.prevew-content-quantity .input-group{
 width: 60%;
}
.preview-content .btn:focus , .preview-content input:focus{
  box-shadow: none;
  outline: none;
}
.preview-content .btn{
  background-color: #64266c;
  color: #fff;
  font-size: 18px;
}
.preview-content .btn:hover{
  background-color: #c95195;
}
/* #preview{
  background-color: #ccc
} */

/* end preview pag */
/* start main caaaaaaaart paaaaaaaaaage */

/* end main caaaaaaaart paaaaaaaaaage */










/* mediaaaaaaaaaa query */

@media screen and (max-width: 768px) {
    .line {
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
    }
    .big-nav {
      align-items: end;  
    }
    .nav-logo{
      margin-right: auto;
      margin-left: 53px!important;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 5%;
      transform: translate(-5%, -50%);
      -webkit-transform: translate(-5%, -50%);
      -moz-transform: translate(-5%, -50%);
      -ms-transform: translate(-5%, -50%);
      -o-transform: translate(-5%, -50%);
      z-index: 99999999;
    }
    .big-nav-fixed .hamburger{
      top: 35%;
    }
    .nav-search{
      display: none;
    }
  
    .big-nav-links {
      position: fixed;
      background: #64266c;
      min-height: 400px;
      width: 100%;
      flex-direction: column;
      -webkit-clip-path: circle(100px at 105% -13%);
      transition: all 1s ease-out;
      pointer-events: none;
      z-index: 9999;
    }
    .big-nav li a:hover, .notfication-dropdown i:hover, .producrt-dropdown a:hover {
      color: #fff !important;
      font-weight: bold;
  }
    .big-nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
    }
   
    .big-nav-links li {
      opacity: 0;
    }
    .big-nav-links li a {
      font-size: 25px;
    }
    .big-nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .big-nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .big-nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    .big-nav-links li.fade {
      opacity: 1;
    }
    .form-sign-up{
      width: 100%;
    }
    .last-section-content{
      flex-direction: column !important ;
    }
    .copyright p{
      text-align: center;
    }
 
  }
  @media screen and (max-width: 568px) {
    .login-popup{
      width: 300px;
      margin-right: -150px;
    }
  }
  