@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiri&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
  }
  .main-color{
    color: #c95195
  }
  .second-color{
    color: #64266c
  }
  .main-color-2
  {
    background-color: #c95195!important
  }
  .home-img{
    background-color: #fff;
  }
  .home-img img{
    width: 100%;
    height: 400px;
  }

.img-sign , .img-up{
  position: absolute;
  top: 249px;
  right: 92px;
  font-size: 68px;
  color: transparent;
}
.img-up{
  top: 141px;
  right: 119px;
  font-size: 80px;
}
.img-sign:hover ,.img-up:hover{
  color: transparent;
}
/* .hom-img img{

  width: 302px;
  height: 300px;
 } */

/* a{
  color: #c95195;
} */
h5, h2 , a{
  font-family: 'Aref Ruqaa', serif;
}
p{
  font-family: 'Amiri', serif;
  line-height: 25px
}
a:hover {
  text-decoration: none;
}
::-webkit-scrollbar{
  background-color: #ccc;
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: #c95195;
  border: .5px solid #333;
  border-radius: 10px;    ;
  -webkit-border-radius: 10px    ;
  -moz-border-radius: 10px    ;
  -ms-border-radius: 10px    ;
  -o-border-radius: 10px    ;
}
/* my framework  */
.overlay2{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(51, 51, 51, )
}
 .logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 2px 2px 3px #fff,
    -2px -2px 3px #fff;
    margin-right: 30px;
}
.profile{
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   width: 40px;
   height: 40px;;
}
.logo:hover{
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
}
.nav-search{
  position: relative;
}
.nav-search input{
  width: 300px;
  border-radius: 28px;
  padding-right: 30px!important;
}
.nav-search input::placeholder{
  padding-right: 20px!important
}
.nav-search input:focus{
  box-shadow: 1px 1px 8px 5px #64266c , 1px 1px 8px 5px #64266c;
}
.nav-search i{
  cursor: pointer;
  position: absolute;
  top: 28px;
  right: 10px;
  color: #64266c;
  z-index: 5px;
}
.search-small{
  display: none;
}
.big-nav {
    height: 80px;
    display: flex;
    align-items: center;  
    background-color: rgba(255,255,255,.1); 
    z-index: 99999999;
  }
  .big-nav-fixed{
    position: fixed;
    top: 0;
    right:0;
    left: 0;
    box-shadow: 1px 5px 5px #eee;
    background-color: #fff;
  }
  .big-nav-fixed:hover{
    background-position: right!important;
  }
  .big-nav-links li a  , .nav-logo li a{
    color: #59c6c9 !important;
    text-decoration: none;
    font-size: 26px ;
    position: relative !important;;
  }
  .big-nav li a:hover , .big-nav li a:hover i{
    color: #c95195 !important;
    opacity: 1;
  }
  
  .big-nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-right: 30px; 
  }
  .big-nav-links-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    /* width: 26%;
    margin-right: auto; */
  }
  .nav-logo{
    /* width: 7%; */
    list-style: none;
    align-items: center;  
    /* margin-left: auto ; */
  }
  .product-nav , .article-nav , .cart-header , .notfication-nav{
    position: relative;
  }
  .product-nav:hover .product-nav-child , .article-nav:hover .article-nav-child , .notfication-nav:hover .notfication-nav-child{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
  .product-nav-child{
    position: absolute;
    top: 68px;
    right: -10px;
    height: 95px;
    width: 109px;
    background-color: #fff;
    z-index: 99999999999999999999;
    padding-right: 7px;
    border: .5px solid #eee;
    border-top: 4px solid #c65496;
    transform: scale(0)  ;
    -webkit-transform: scale(0)  ;
    -moz-transform: scale(0)  ;
    -ms-transform: scale(0)  ;
    -o-transform: scale(0)  ;
}
.notfication-nav-child{
  position: absolute;
  top: 68px;
  right: -90px;
  max-height: 305px;
  width: 209px;
  background-color: #fff;
  z-index: 99999999999999999999;
  padding-right: 7px;
  border: .5px solid #eee;
  border-top: 4px solid #c65496;
  overflow-y: auto;
  transform: scale(0)  ;
  -webkit-transform: scale(0)  ;
  -moz-transform: scale(0)  ;
  -ms-transform: scale(0)  ;
  -o-transform: scale(0)  ;
}

  .article-nav-child{
    position: absolute;
    top: 68px;
    right: -86px;
    height: 170px;
    width: 156px;
    background-color: #fff;
    z-index: 99999999999999999999;
    padding-right: 7px;
    border: .5px solid #eee;
    border-top: 4px solid #c65496;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
.notfication-nav-child a{
  font-size: 17px!important;
  display: block;
  padding: 5px;
  font-family: 'Amiri', serif;
  line-height: 25px
}
  .article-nav-child a{
    font-size: 20px!important;
    line-height: 40px;
  }
  .product-nav-child a{
    color: #5bc5c8!important;
    font-size: 24px!important;
    opacity: .6;
  }  
 
  .big-nav-links li .dropdown-menu a{
    font-size: 18px !important;
  }
  .big-nav-links li a i{
    font-size: 14px; 
  }
  .producrt-dropdown a , .notfication-dropdown a , .cart-header a{
   color: #59c6c9!important;
   cursor: pointer;
   position: relative;
  }
  .notfication-dropdown a i , .cart-header a{
    font-size: 25px !important;
  }

  #notfi{
    position: absolute;
    color: #fff;
    top: -4px;
    background-color:#c65496;
    padding: 1px 5px;
    border-radius: 50%;
  }
rt-header {
      color: #fff;
      position: relative;
  }

  #cart-notfi{
    position: absolute;
    color: #fff;
    background-color:#c95195;
    padding: 1px 5px;
    border-radius: 50%;
    top: -17px;
    right: -14px; 
  }
  #notfication-notfi{
    position: absolute;
    color: #fff;
    top: -4px;
    background-color:#c95195;
    padding: 1px 5px;
    border-radius: 50%;
    right: -14px; 
  }

    
  /* end naaaaaaaaaaaaav baaaaaaaaaaaaaaar  */

/* start service */
#services{
  background-color: #f7f7f7;
}
.service-part{
  box-shadow: 1px 2px 2px #ccc, -1px -2px 2px #ccc;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  height: 100%;
  width: 100%;
}
.service-part:hover i{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.service-part i{
  background-color: #fff;
  padding: 5px;
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  color: #59c6c9! important;
}
.service-part h5{
  color: #ffffff;
  font-size: 25px;
  background-color: #68286e;
  padding: 4px;
}

.heading h2{
    color: #64266c;
    font-size: 50px ; 
    font-weight: bold;
    position: relative;
    z-index: 11;
    opacity: 1;
}
.heading :nth-child(2) , .heading :nth-child(4){
  width: 6%;
  margin: 2px auto;
  border: 1px solid #64266c;
}
.heading:hover  :nth-child(2), .heading:hover  :nth-child(4){
  width: 8%;
}
.heading:hover :nth-child(3){
  width: 10%;
}
.heading :nth-child(3){
  width: 8%;
  margin: auto;
  border: 1px solid #64266c;
}


 /* end service section */

 /* start product section */

 /* #products{
  background-color: #c95195;
 } */
 #products h2 {
   color: #64266c;
 }
 #products .heading hr{
   border-color: #64266c;
 }


 /* end product section */

 /* start articles section */
 #article{
   background-color: #f7f7f7
 }
 #article .all-card{
   background-color: #fff;
   color: #c95195;
 }
 .card-conten{
  
 }
 .allcard-img{
  position: relative;
 }
 .allcard-img .second-p{
   color: #fff;
   text-align: center;
   width: 80%;
   position: absolute;
   right: 10%;
   bottom: -27px;
   border-radius: 10px ;
   -webkit-border-radius: 10px ;
   -moz-border-radius: 10px ;
   -ms-border-radius: 10px ;
   -o-border-radius: 10px ;
   /* box-shadow: 1px 1px 2px 2px #22e5dc */
}

.all-card a{
  font-size: 24px;
  font-weight: bold;
  padding-right: 5px;
}
.all-card a:hover{
  font-style: italic;
  color: #64266c;
}
.card-content h5{
  font-size: 30px;
}
.all-card{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 100%;
  overflow: hidden;
  box-shadow: 2px 2px 3px #ccc,
  -2px -2px 3px #ccc;
}

.all-card:hover{
  box-shadow: 2px 2px 15px 9px #ccc, 
  -2px -2px 15px 9px #ccc;
}

.all-card img{
  width: 100%;
  height: 240px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}
.view{
  opacity: .7;
  font-size: 14px;
}
.btn-container button{
  color: #fff;
  font-size: 20px;
  background-color: #22e5dc;
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 15px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 100px;
  height: 40px;
  border: 1px solid #fff;
}
.btn-container button:hover{
  background-color: #c95195;
}
.btn-container button:focus{
  outline: none;
  box-shadow: none;
}
.btn-container{
  width: 40%;
  margin:10px auto;
}

/* end article section */

/* stat footer */
.contact-container{
  background-color: #c95195;
}
.last-section{
  background-color: #892a60;
  border-top: 1px solid #fff;
}
.footer-about p{
  color: #fff;
  font-style: italic;
  font-size: 18px;
}
.footer-about h5 , .footer-contact h5 , .footer-form h5{
  color: #64266c;
  font-size: 35px;
  font-weight: bold;
}
.footer-contact p{
  color: #fff;
}
.footer-contact a{
  color: #64266c;
  font-weight: bold;
  font-size: 20px;
}
.footer-contact i{
  color: #fff;
  background-color: #64266c;
  padding: 6px 6px;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}
.footer-contact i:hover{
 transform: rotate(50deg);
 -webkit-transform: rotate(50deg);
 -moz-transform: rotate(50deg);
 -ms-transform: rotate(50deg);
 -o-transform: rotate(50deg);
}
.footer-form .btn{
  color: #fff;
  background-color: #64266c;
}
.footer-form .btn:hover{
  color: #64266c;
  background-color: #fff;
}
.footer-form .btn:focus , .footer-form input:focus , .footer-form textarea:focus{
  outline: none;
  box-shadow: 2px 2px 3px 3px #64266c
}
.last-section .social i{
 color: #64266c;
 background-color: #fff;
 padding: 6px;
 font-size: 22px;
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
}
.last-section .social i:hover{
  color: #c95195;
  transform: skew(20deg);
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg);
}
.last-section .copyright p{
  color: #fff;
}
.last-section .copyright a{
  color: #22e5dc;
  font-size: 20px;
  font-weight: bold;
}
.last-section .copyright a:hover{
  color: #fff;
}

/* start scroll top */
.sccroll-top i
{
	position: fixed;
	bottom: 20px;
	right: 25px;
	background-color:#64266c;
	display: block;
	padding: 10px;
	font-size: 22px;
	cursor: pointer;
	color: #fff;
	display: none;
	z-index: 999999;
	border-radius:50% ;
	-webkit-border-radius:50% ;
	-moz-border-radius:50% ;
	-ms-border-radius:50% ;
	-o-border-radius:50% ;
}
.sccroll-top i:hover
{
	color: #64266c;
	background-color: #fff
}

/* end fooooooter */

/* fixed cart menu */
.fixedcart{
  position: fixed;
  top: 100px;
  right: -255px;
  background-color:#c95195;
  box-shadow: 2px 2px 3px 3px #ccc,
  -2px -2px 3px 3px #ccc;
  width: 250px;
  max-height: 500px;
  z-index: 9999;
  padding: 5px 15px;
  color: #fff;
}

#poup-cart-icon {
  position: absolute;
  background-color: #c95195;
  padding: 8px;
  top: 11px;
  left: -74px;
  width: 76px;
  height: 50px;
  position: absolute;
  border-radius: 10px 0 0 10px;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  border-left: 3px solid #ccc;
}
#poup-cart-icon i{
  color: #fff;
  font-size: 30px;
  padding: 2px 12px;
  cursor: pointer;
   animation: mymove 1s linear infinite;
  -webkit-animation: myscale 1s linear infinite; 
  position: relative;
}

 
.cart-popup .fa-times-circle:hover{
  font-size: 20px;
  color: #c95195
}

  .cart-item img{
    border-radius: 50%  ;
    -webkit-border-radius: 50%  ;
    -moz-border-radius: 50%  ;
    -ms-border-radius: 50%  ;
    -o-border-radius: 50%  ;
    width: 50px;
    height: 50px;
    background-color: #fff;
}
.cart-item i{
  color: #64266c;
  padding-top: 10px;
}

.cart-item i:hover{
  color: #fff;
}
.cart-buttons-container a{
 color: #fff;
 border: 1px solid #fff;
}
.cart-buttons-container a:hover{
  background-color: #fff;
  color: #64266c;
  box-shadow: 2px 2px 3px #fff
}
.cart-item-container{
  max-height: 400px;
  overflow-y: auto;
  max-width: 229px;
}



/* end fixed cart menu */


@keyframes myscale
{
0%,100% {
     transform:scale(.9);
     -webkit-transform:scale(.9);
     -moz-transform:scale(.9);
     -ms-transform:scale(.9);
     -o-transform:scale(.9);
}

25% {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

75% {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
}

/* logon popup */
.popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color:rgba(51, 51, 51, .6);
  z-index: 999999999;
  display: none;
}
.login-popup{
  position: fixed;
  width: 500px;
  height:200px;
  right: 50%;
  top: 50%;
  margin-top:-100px;
  margin-right:-250px;
  background:linear-gradient(45deg,#64266c,#c95195);
  border: 1px solid #fff;
  border-radius:10px;
  padding: 10px;
}
.login-popup .btn {
  width: 50%;
  margin-right:25%;
  background-color: #fff;
  color: #c95195;
  border: 1px solid #22e5dc;
}
.login-popup .btn:hover {
  background-color: #64266c;
  color: #fff;
  border: 1px solid #22e5dc;
}
.login-popup input {
  background-color: #fff;
}
.login-popup input:focus{
  background:none;
  box-shadow: none;
  outline: none;
  border: none;
  color: #fff;
  border-bottom: 1px solid #22e5dc;
}
.login-popup input:focus::placeholder{
  color: #fff;
  opacity: .6;
}
.pass-container{
  position: relative;
}
.pass-container i{
  position: absolute;
  top: 10px;
  left: 10px;
  color: #64266c;
  cursor: pointer;
}
/* sign uppoup */
/* end poups */
/* staaaaaaaaaaaart articl paaaaaaaaaaaaaaaaaaaagee */
#articl{
  background-color: #f7f7f7;
}
.right-side{
  background: linear-gradient(90deg, #64266c ,#c95195);
  color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /* min-height: 500px; */
}
.right-side-header .hideUl{
  display: none;
}
.right-side input:focus{
  outline: none;
  box-shadow: 2px 2px 2px 1px #64266c 
}
.right-side-header .d-flex{
  color: #64266c;
  cursor: pointer;
  background-color: #fff;
  padding: 2px 8px;
  border-radius: 5px;
}
.right-side-header .d-flex:hover{
  transform: skew(20deg);
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg);
}
.right-side-header h5{
  font-size: 24px;
}
.right-side-header h5 i{
  font-size: 25px;
  margin-left: 10px;
}
.right-side-header a{
  font-size: 20px;
  color: #fff;
  font-style: italic;
}
.right-side-header a:hover{
  font-weight: bold;
}
.article-content{
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #ccc ,-2px -2px 2px #ccc;
  padding: 10px;
  background-color: #fff;
}

.article-content img{
  width: 100%;
  height: 300px;
}
.articl-fullpage a:hover{
  color: #c95195;
}
.articl-fullpage i{
  color: #fff;
  background-color: #64266c;
  padding: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.articl-fullpage i:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.article-share .social-btn-list i , .article-like i{
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}
.article-share .social-btn-list i:hover , .article-like i:hover{
  box-shadow: 1px 1px 4px 2px #c95195;
}
.article-like span{
  color: #64266c;
  font-size: 18px;
  text-shadow: 1px 1px 4px  #c95195;
}
/* end article paaaaaaaaaaaaarg */

/* start sign up page   */
.sign-up , #edit-profile{
  background-image: url(../images/mama-2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

.form-sign-up , .edit-profile-1{
  width: 60%;
  box-shadow: 2px 2px 3px 3px rgba(201, 81, 149,.7), -2px -2px 3px 3px rgba(201, 81, 149,.7);
  background-color: rgba(201, 81, 149,.7);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.form-sign-up .form-control , .edit-profile-1 .form-control {
  color: #fff;
}
.form-sign-up input::placeholder , .form-sign-up textarea::placeholder , .edit-profile-1 input::placeholder{
  opacity: .6;
  color: #fff;
 }
.form-sign-up input , .form-sign-up textarea , .edit-profile-1 input , .edit-profile-1 select{
 background-color: rgba(201, 81, 149,.1);
 border: none;
 border: 1px solid #fff;
}
.form-sign-up input:focus , .form-sign-up textarea:focus ,.edit-profile-1 input:focus , .edit-profile-1 select:focus{
 background-color: rgba(201, 81, 149,.1);;
 outline: none;
 box-shadow: none;
 border-color: #22e5dc;
 
 color: #fff;
}
 .form-sign-up button , .edit-profile-1 button{
   background: linear-gradient(45deg, #64266c ,#c95195);
   width: 200px;
   height: 50px;
   color: #fff;
   font-size: 25px;
   padding: 5px;
   border-radius: 5px ;
   -webkit-border-radius: 5px ;
   -moz-border-radius: 5px ;
   -ms-border-radius: 5px ;
   -o-border-radius: 5px ;
   border: .5px solid #fff;
}
.form-sign-up button:hover , .edit-profile-1 button:hover{
  box-shadow: 2px 2px 3px 3px #fff, -2px -2px 3px 3px #fff;
}
.work .work-label , .work2 .work-label{
  font-size: 24px;
}
.edit-profile-1 option{
  background-color: #c95195;
}
.edit-profile-1 option:hover{
  background-color: none;
}
.change-dir{
  direction: ltr;
}

      

.form-check label , .edit-profile-1 label{
  margin-right: 10px;
}
.work input, .work2 input{
  background-color: #64266c;
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  position: relative;
}

input[type=radio]:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: "✔";
  display: inline-block;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  background-color: #fff;
  color: #64266c;
}
.upload-photo input{
  width: 118px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 10px;
  opacity: 0;
}
.upload-photo{
  position: relative;
}
.upload-photo img{
  width: 115px;
  height: 115px;
  cursor: pointer;
}
.edit-profile-1 h5{
  font-size: 31px;
  line-height: 33px
}
/* end  sign up page and edit profile*/
/* staaaaaaaaart profile paaaaaaage */
#profile{
  background-color: #f7f7f7;
}
.profile-right{
  border-radius: 15px;
  box-shadow: 2px 2px 3px 3px #ccc, -2px -2px 3px 3px #ccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.profile-basic-content h5{
  color: #64266c;
  font-size: 30px;
}
.profile-right img{
  width: 100%;
  height: 200px;
}
.profile-basic-content p{
  color: #c95195;
  font-size: 18px;
}
.profile-right .btn{
  color: #fff;
  font-size: 20px;
}
.profile-right .btn:focus{
 outline: none;
 box-shadow: none;
}
.profile-right .btn:hover{
  background: linear-gradient(to left, #64266c, #22e5dc ,#64266c ) !important;
  color: #c95195;
}
.profile-basic-content p i{
  color: #fff;
  padding: 5px;
  background-color: #64266c;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.profile-left-side{
  border-radius: 5px;
  
}
.education, .work-experince ,.contact-profile{
  box-shadow: 2px 2px 3px 3px #c95195, -2px -2px 3px 3px #64266c;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  background-color: #fff
}
.education h5, .work-experince h5 ,.contact-profile h5{
  color: #fff;
  width: 180px;
  padding: 2px 5px;
  font-size: 35px;
  text-align: center;
  /* background: linear-gradient(to left, #64266c, #22e5dc ,#64266c ) ; */
  background-color: #59c6c9;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: absolute;
  right: 10px;
  top: -25px;
}
.education p, .work-experince p, .contact-profile p{
  font-size: 22px;
  color: #64266c;
  margin-bottom: 0!important;
}
.education span, .work-experince span , .contact-profile p a{
  font-size: 20px;
  color: #c95195;
}



/* end profile paaaaaaage */

/* start preview pag */
#preview{
  background-color: #f7f7f7;
}
.preview-images{
  /* background-color: #22e5dc; */
  box-shadow: 1px 2px 3px 3px #ccc, -1px -2px 3px 3px #ccc;
  /* background: linear-gradient(to left, #eee, #c95195 ,#eee )  */
}
/* .preview-images{
  border: 1px solid #64266c;
} */
.preview-images .big-img{
  width: 100%;
  height: 300px;
}
.previe-small-img{
  border-top: 1px solid #64266c;
  overflow: hidden;
}
.previe-small-img img{
  height: 80px;
  width: 32.3333%;
  border-right: 1px solid #64266c;
  cursor: pointer;
}
.previe-small-img img:hover{
  transform: scale(1.08);
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
}
.preview-content h5{
  color: #64266c;
  font-size: 33px;
  font-weight: bold;
  padding: 5px;
}
.preview-content p{
  font-size: 18px;
  font-style: italic;
}
prevew-content-quantity{
  font-size: 18px;
}
.prevew-content-quantity button , .el-quantity button{
  color: #fff;
  background-color: #64266c;
  height: 37px;
}
.prevew-content-quantity input , .el-quantity input{
  color: #59c6c9;
  background-color: #fff !important;
  border: 1px solid #22e5dc;
  height: 37px;
  min-width: 30px!important;
  max-width: 42px!important;
}
.prevew-content-quantity .input-group{
 width: 60%;
}
.quantity-main-conteent{
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 1px 2px 3px #22e5dc
}
.preview-content .btn:focus , .preview-content input:focus , .el-quantity .btn:focus , .el-quantity input:focus,
.quantity-main-conteent select:focus{
  box-shadow: none;
  outline: none;
}
.preview-content .btn , .el-quantity .btn{
  background-color: #59c6c9;
  color: #fff;
  font-size: 18px;
}
.preview-content .btn:hover, .el-quantity .btn:hover{
  background-color: #fff;
  color: #22e5dc;
  border:1px solid #22e5dc
}
.quantity-main-conteent select{
  border: 1px solid #59c6c9;
}

.quantity-main-conteent #inputState{
  color: #59c6c9
}
.related-products h5{
  font-size: 35px;
}

/* end preview pag */
/* start main caaaaaaaart paaaaaaaaaage */

.main-cart{
  background-color: #f7f7f7;
}
.product-table{
  box-shadow: 1px 1px 2px 3px #ccc, -1px -1px 2px 3px #ccc;
  border-radius: 10px;
}
.product-table tbody tr {
  background-color: #fff!important;
  color: #c95195;
  font-size: 18px;
  font-family: 'Reem Kufi', sans-serif;
}
.product-table thead {
  background-color: #59c6c9!important;
  color: #ffffff;
  font-size: 20px;
}
.product-table .el-name{
  position: relative;
  width: 30%;
  height: 120px;
}
.product-table .el-name img{
  width: 100px;
  height: 100px;

}
.el-total i{
  cursor: pointer;
  color:#c95195 ;
  position: relative;
}
.cart-right{
  box-shadow: 1px 1px 2px 3px #ccc, -1px -1px 2px 3px #ccc;
  background-color: #fff;
  font-size: 18px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.cart-right .btn{
  color: #ffff;
  background-color: #c95195;
  width: 80%;
  margin-right: 10%;
}
.cart-right .btn:hover{
  background-color: #59c6c9;
}
.cart-right .btn:focus{
 box-shadow: none;
 outline: none;
}
/* .el-quantity .btn {
  background-color: #59c6c9;
} */

/* end main caaaaaaaart paaaaaaaaaage */

/*  staaaaaaaat product manager paaaaaaage */
#product-manager{
  background-color: #f7f7f7;
}
.cart-alert{
  width: 205px;
  padding: 10px;
  position: fixed;
  top: 200px;
  right: -230px;
  z-index: 99;
  color: #ffffff;
  border-bottom: 4px solid #64266c;
  border-right: 4px solid #64266c;
  background-color: #c95195;
}
.cart-alert h5{
  font-size: 25px;
}
.product-card-container{
  background-color: #ccc;
  border: 1px solid #fff;
  color: #fff;
  position: relative;
  height: 100%;
  width: 100%;
  position: relative;
}
.product-card-container:hover .product-card-container-overlay{
  display: block;
}
.product-card-container-overlay{
  position: absolute;
  background-color: #64266c;
  /* width: 100%;
  height: 100%; */
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  color: #fff;
  display: none;
}
.product-card-container-overlay a{
  color: #fff
}
.product-card-container-overlay a:hover i{
  color: #c95195;
}
.product-main-card img{
  background-color: #fff;
  margin-top: 10px;
  border: 1px solid #eee;
  width: 100%;
  height: 200px;
  position: relative;
}

.product-main-content{
  color: #64266c;
  background-color: #fff;
  padding:10px 5px
}
.product-main-content h5{
  position: relative;
}
.product-main-content h5::after{
 content: "";
 width: 45px;
 height: 2px;
 position: absolute;
 background-color: #22e5dc;
 bottom: -8px;
 right: 0;
}
.product-main-content .text-center{
  color: #fff;
  background-color: #22e5dc;
}
.product-main-content span{
  font-size: 20px;
}
.main-product-right{
  width: 100%;
  box-shadow: 1px 1px 1px 1px #ccc, -1px -1px 1px 1px #ccc;
  background-color: #fff;
}

.product-header {
  border-top: 1px solid #ccc;
  padding: 10px;
  display: block;
  color: #64266c;
  font-size: 22px;
  border-right: 5px solid #fff;

}
.product-header:hover ,.product-header:active{
  border-right: 5px solid #c95195;
}
.product-header i{
  color: #c95195;
}
.constant{
  margin-top: 20%
}
.product-slider{
  background-color: #eee;
  height: 300px;
}
.product-slider-img{
  height: 300px;
}
.product-slider-img img{
  height: 100%!important;
}
.product-slider h5{
  font-weight: bold;
  font-size: 25px;
  color: #64266c;
  margin-bottom: 15px;
}
.product-slider p{
  font-weight: bold;
  font-size: 18px;
  color: #c95195;
}
.product-main-card{
  position: relative;
}
.img-icons{
  position: absolute;
  top: 0;
  right: 0;
  background-color:rgba(0, 0, 0,.8);
  width: 100%;
  height: 100%;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.product-main-card:hover .img-icons{
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.img-icons i{
  color: #fff;
}
.product-teat{
  box-shadow: 2px 2px 2px #ccc, -2px -2px 2px #ccc;
  background-color: #db14f5;
}
                        


/* end  product manager paaaaaaage */

/* staaaaaaaaaart news paaaaaaaaaaage   */
#news{
  background-color: #f7f7f7;
}
.news-container{
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 2px 2px 2px #ccc, -2px -2px 2px #ccc;
}
.news-container h5{
  font-size: 30px;
  color: #c95195;
}
.news-container img{
  height: 100%;
  width: 100px;
  background-color: #ccc;
}
.news-container p{
  font-size: 16px!important;
  color: #000!important;
}
.news-right-container{
  background-color: #fff;
  padding: 5px;
  box-shadow: 2px 2px 2px #ccc, -2px -2px 2px #ccc;
}
.new-news{
  border: 1px solid #ccc;
}
.news-container-right img{
  height: 100%;
  width: 50px;
  background-color: #ccc;
}
.new-news h5{
  font-size: 25px;
  color: #c95195;
}








/* mediaaaaaaaaaa query */
@media only screen and (max-width: 1230px) and (min-width: 1048px)  {
  .big-nav-links li a{
    font-size: 22px
  }
  .nav-search input{
    width: 250px;
  }
}
@media only screen and (max-width: 1048px) and (min-width: 770px)  {
  .big-nav-links li a{
    font-size: 17px;
  }
  .nav-search input{
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
    .line {
      width: 30px;
      height: 3px;
      background: #892a60;
      margin: 5px;
    }
    .big-nav {
      align-items: end;  
    }
    .nav-logo{
      float: left;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 2%;
      top: 5%;
      transform: translate(-5%, -50%);
      -webkit-transform:;
      -moz-transform:;
      -ms-transform:;
      -o-transform:;
      z-index: 99999999;
}
    .big-nav-fixed .hamburger{
      top: 51%;
    }
    .nav-search{
      position: absolute;
      background-color: #ccc;
      width: 100%;
      height: 200px;
      display: none;
      cursor: pointer;
    }
    .closesearch{
      font-size: 20px;
      height: 34px;
      width: 18px;
      cursor: pointer;
      position: absolute;
      top: 64px;
      left: -118px;
      background-color: #880404;
      color: #fff;
      padding: 1px 5px;
      display: none;
      border-radius: 50%    ;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
}
    .showserch{
      display: block;
    }
    .search-small{
      display: flex;
    }
    .nav-search input{
      width: 74%!important;
      margin: auto;
    }
    .nav-search i {
      right: 64px;
    }
  
    .big-nav-links {
      position: fixed;
      background: #fff;
      height: 50vh;
      width: 100%;
      -webkit-clip-path: circle(100px at 105% -13%);
      z-index: 9999999999999999999;
      flex-direction: column;
      transition: all 1s ease-out;
      right: 0;
      margin-right: 0;
      align-items: normal;
      -webkit-transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      -ms-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
}
.big-nav-links a{
  padding: 0px 17px;
}
    .big-nav-links-icons {
      display: flex;
      list-style: none;
      position: absolute;
      top: -62px;
      z-index: 999999;
      right: 48px;
    }
    .big-nav-links-icons a{  
      font-size: 20px !important;
    }
    .search-small a , .notfication-nav a ,.cart-header a {
      padding-right: 25px !important;
      font-size: 25px !important;
    }
    .profile-parent{
      padding-right: 10px
    }
 
    .big-nav-links-icons i{
      color: #5bc5c8;
    }
.notfication-nav-child a{
  font-size: 16px!important;
}
.notfication-nav-child {
  top: 55px;
}
    /* .big-nav-links .big-nav-links-2 , .big-nav-links .big-nav-links-icons {
     
} */
    .big-nav li a:hover, .notfication-dropdown i:hover, .producrt-dropdown a:hover {
      color: #c65496 !important;
      font-weight: bold;
  }
    .big-nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
      flex-direction: column;
    }
   
    .big-nav-links li {
      opacity: 0;
    }
    .big-nav-links li a {
      font-size: 25px;
    }
    .big-nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
      -webkit-transition: all 0.5s ease 0.2s;
      -moz-transition: all 0.5s ease 0.2s;
      -ms-transition: all 0.5s ease 0.2s;
      -o-transition: all 0.5s ease 0.2s;
}
    .big-nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
      -webkit-transition: all 0.5s ease 0.4s;
      -moz-transition: all 0.5s ease 0.4s;
      -ms-transition: all 0.5s ease 0.4s;
      -o-transition: all 0.5s ease 0.4s;
}
    .big-nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
      -webkit-transition: all 0.5s ease 0.6s;
      -moz-transition: all 0.5s ease 0.6s;
      -ms-transition: all 0.5s ease 0.6s;
      -o-transition: all 0.5s ease 0.6s;
}
    .big-nav-links li.fade {
      opacity: 1;
    }
  /* .product-nav:hover .product-nav-child , .article-nav:hover .article-nav-child , .notfication-nav:hover .notfication-nav-child{ */

    .product-nav:hover .product-nav-child , .article-nav:hover .article-nav-child {
      display: block;
    } 
  .product-nav-child ,  .article-nav-child {
    position: relative;
    color: #ccc;
    transform: scale(1)  ;
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
    border: none;
    width: 100%;
    top: 0px;
    right: 0;
}
.product-nav-child{
  height: 70px;
  display: none;
}
.article-nav-child{
  display: none;
  height: 155px;
}
#cart-notfi {
  right: 15px;
}
#notfication-notfi{
position: absolute;
color: #fff;
top: -15px;
right: 12px;
}
/* end naaaaaaaaaaaaaaaaaaav baaaaaaaaaaaaaaaaaaar */
    .form-sign-up{
      width: 100%;
    }
    .last-section-content{
      flex-direction: column !important ;
    }
    .copyright p{
      text-align: center;
    }
    .quantity-main-conteent select{
      width: 60% !important;
    }
 
  }
  @media screen and (max-width: 568px) {
    .login-popup{
      width: 300px;
      margin-right: -150px;
    }
   
  }
  